<div class="headerAreaBG">
  <article id="post-87" class="post-87 page type-page status-publish hentry entry">

    <header class="entry-header alignwide page-subheader">
      <h1 class="entry-title">Disclaimer And Policies</h1>
    </header>
  </article>

</div>



<div class="About">
  <div class="container">
    

    <div class="panel panel-primary HoleContent">
      
      <div class="panel-body">
        <h3>Links to External Websites/Portals</h3>
        <p>At many places in this portal, you shall find links to other websites/portals created and maintained by other Government, non-Government / private organizations. These links have been placed for your convenience. When you select a link you are navigated to that website. Once on that website, you are subject to the privacy and security policies of the owners / sponsors of the website. Rajasthan Real Estate Regulatory Authority is not responsible for the contents and reliability of the linked websites and does not necessarily endorse the views expressed in them. Mere presence of the link or its listing on this portal should not be assumed as endorsement of any kind.</p>

        <h3>Links to the Rajasthan Real Estate Regulatory Authority Website by Other Websites/Portals</h3>
        <p> We do not object you for linking directly to the information that is hosted on our site and no prior permission is required for the same.We do not permit our pages to be loaded into frames on your site. Our Department's pages must load into a newly opened browser window of the user.</p>

        <p> As a general rule, this portal does not automatically capture any specific personal information from you, (like name, phone number or e-mail address), that allows us to identify you individually. This portal records your visit and logs the following information for statistical purposes, such as Internet Protocol (IP) addresses, domain name, browser type, operating system, the date and time of the visit and the pages visited. We make no attempt to link these addresses with the identity of individuals visiting our site unless an attempt to damage the site has been detected We will not identify users or their browsing activities, except when a law enforcement agency may exercise a warrant to inspect the service provider's logs. If Rajasthan Real Estate Regulatory Authority portal requests you to provide personal information, you will be informed how it will be used if you choose to give it and adequate security measures will be taken to protect your personal information.</p>

        <p>Material featured on this portal may be reproduced free of charge in any format or media without requiring specific permission. This is subject to the material being reproduced accurately and not being used in a derogatory manner or in a misleading context. Where the material is being published or issued to others, the source must be prominently acknowledged. However, the permission to reproduce this material does not extend to any material on this site which is identified as being the copyright of the third party. Authorization to reproduce such material is obtained from the copyright holders concerned.

        <p>Although the information and contents in this website have been put with care and diligence, Rajasthan Real Estate Regulatory Authority does not take responsibility on how this information is used or the consequences of its use. In case of any inconsistency/confusion, the user should contact the concerned Section/Officer of Rajasthan Real Estate Regulatory Authority for further clarifications.</p>


      </div>
    </div>
  </div>
</div>

