<div class="headerAreaBG">
  <article id="post-87" class="post-87 page type-page status-publish hentry entry">
    <header class="entry-header alignwide page-subheader">
      <h1 class="entry-title">Audio Jingles</h1>
    </header>
  </article>
</div>
<div class="entry-content container mb-4">
  <h3 style="text-align: center;">RAJASTHAN REAL ESTATE REGULATORY AUTHORITY <img src="../../../../assets/images/Audio.png"/> Audio Jingles</h3>
  <div class="row mt-4">
    <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12">
      <div class="card mb-3">
        <div class="card-body d-flex flex-column align-items-center">
          <img src="../../../../assets/images/audioSpeakers.jpg" class="img-fluid" style="max-width:125px;margin-bottom:15px" />
          <audio id="myAudio" controls>
            <source src="../../../../assets/audio/RERARadioSpot01.wav" type="audio/mpeg">
          </audio>
          <h5 class="text-center mt-3 mb-0">Audio Jingles - 1</h5>
        </div>
      </div>
    </div>
    <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12">
      <div class="card mb-3">
        <div class="card-body d-flex flex-column align-items-center">
          <img src="../../../../assets/images/audioSpeakers.jpg" class="img-fluid" style="max-width:125px;margin-bottom:15px" />
          <audio id="myAudio" controls>
            <source src="../../../../assets/audio/RERARadioSpot02.wav" type="audio/mpeg">
          </audio>
          <h5 class="text-center mt-3 mb-0">Audio Jingles - 2</h5>
        </div>
      </div>
    </div>
    <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12">
      <div class="card mb-3">
        <div class="card-body d-flex flex-column align-items-center">
          <img src="../../../../assets/images/audioSpeakers.jpg" class="img-fluid" style="max-width:125px;margin-bottom:15px" />
          <audio id="myAudio" controls>
            <source src="../../../../assets/audio/RERARadioSpot03.wav" type="audio/mpeg">
          </audio>
          <h5 class="text-center mt-3 mb-0">Audio Jingles - 3</h5>
        </div>
      </div>
    </div>
    <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12">
      <div class="card mb-3">
        <div class="card-body d-flex flex-column align-items-center">
          <img src="../../../../assets/images/audioSpeakers.jpg" class="img-fluid" style="max-width:125px;margin-bottom:15px" />
          <audio id="myAudio" controls>
            <source src="../../../../assets/audio/RERARadioSpot1.wav" type="audio/mpeg">
          </audio>
          <h5 class="text-center mt-3 mb-0">Audio Jingles - 4</h5>
        </div>
      </div>
    </div>
    <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12">
      <div class="card mb-3">
        <div class="card-body d-flex flex-column align-items-center">
          <img src="../../../../assets/images/audioSpeakers.jpg" class="img-fluid" style="max-width:125px;margin-bottom:15px" />
          <audio id="myAudio" controls>
            <source src="../../../../assets/audio/RERARadioSpot2.wav" type="audio/mpeg">
          </audio>
          <h5 class="text-center mt-3 mb-0">Audio Jingles - 5</h5>
        </div>
      </div>
    </div>
    <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12">
      <div class="card mb-3">
        <div class="card-body d-flex flex-column align-items-center">
          <img src="../../../../assets/images/audioSpeakers.jpg" class="img-fluid" style="max-width:125px;margin-bottom:15px" />
          <audio id="myAudio" controls>
            <source src="../../../../assets/audio/RERARadioSpot3Rural.wav" type="audio/mpeg">
          </audio>
          <h5 class="text-center mt-3 mb-0">Audio Jingles - 6</h5>
        </div>
      </div>
    </div>
  </div>
</div>
