<div class="headerAreaBG">
  <article id="post-87" class="post-87 page type-page status-publish hentry entry">

    <header class="entry-header alignwide page-subheader">
      <h1 class="entry-title">About Us</h1>
    </header>
  </article>

</div>
<div class="entry-content container">
  <h3 style="text-align: center;">RAJASTHAN REAL ESTATE REGULATORY AUTHORITY</h3>
  <p>&nbsp;</p>
  <p>
    The Real Estate (Regulation and Development) Act, 2016 was brought into effect by Govt. of India on
    01.05.2016. The Rajasthan Real Estate (Regulation and Development) Rules, 2017 were notified on 01.05.2017.
    Govt. of Rajasthan has constituted the Rajasthan Real Estate Regulatory Authority (Raj.RERA) on
    06.03.2019.Govt. of Rajasthan has constituted the Real Estate Appellate Tribunal on 06.03.2019<br>
    The key components of Real Estate (Regulation and Development) Act, 2016 are as follows:
  </p>
  <h3>1. Real Estate Regulatory Authority</h3>
  <p>
    Under this Act, State Government is required to establish Real Estate Regulatory Authority for regulation and
    promotion of the real estate sector in the State. The Authority shall strive to facilitate the growth and
    promotion of a healthy, transparent, efficient and competitive real estate sector while protecting the
    interest of allottees, promoters and real estate agents. The authority shall also establish an adjudicating
    mechanism for speedy dispute redressal regarding registered real estate projects. The key responsibilities
    of the Authority shall be as follows:
  </p>
  <ul>
    <li>Ensuring Disclosures of Real Estate Projects by Promoters</li>
    <li>Real Estate Projects Registration</li>
    <li>Real Estate Agents Registration</li>
    <li>Complaints Redressal</li>
    <li>
      Provide recommendations to appropriate Government on in matters relating to the development &amp;
      promotion of real estate sector;
    </li>
  </ul>
  <h3>2. Real Estate Appellate Tribunal</h3>
  <p>
    The State Government is required also to establish Appellate Tribunal to hear appeals from the decisions,
    directions or orders of the Real Estate Regulatory Authority and Adjudicating Officer. Any person aggrieved
    by any direction or decision or order made by the Authority or by an adjudicating officer may file an appeal
    before the Appellate Tribunal and the appeal shall be dealt with by it as expeditiously as possible and
    endeavour shall be made by it to dispose of the appeal within a period of sixty days.
  </p>
  <h3>3. Real Estate Projects Registration</h3>
  <p>All commercial and residential real estate projects will have to register except in projects where</p>
  <ul>
    <li>area of land proposed to be developed does not exceed five hundred square meters</li>
    <li>number of apartments proposed to be developed does not exceed eight inclusive of all phases</li>
    <li>
      promoter has received completion certificate for a real estate project prior to commencement of this Act
    </li>
    <li>
      for the purpose of renovation or repair or re-development which does not involve marketing, advertising
      selling or new allotment of any apartment, plot or building, as the case may be, under the real estate
      project
    </li>
  </ul>
  <p>
    No promoter shall advertise, market, book, sell or offer for sale, or invite persons to purchase in any
    manner any plot, apartment or building, as the case may be, in any real estate project or part of it, in any
    planning area within Rajasthan, without registering the real estate project with the Rajasthan Real Estate
    Regulatory Authority. Promoter of ongoing real estate projects, in which all buildings as per sanctioned
    plan have not completed, shall also be required to be registered for such phase of the project.
  </p>
  <p>
    If any promoter fails to register as per Act, he shall be liable to a penalty which may extend up to ten per
    cent of the estimated cost of the real estate project. On continued violation, he shall be punishable with
    imprisonment for a term which may extend up to three years or with fine which may extend up to a further ten
    per cent of the estimated cost of the real estate project, or with both.
  </p>
  <p>
    Apart from Registration, the promoters shall be required to provide quarterly updates on the status of the
    project to the Authority.
  </p>
  <h3>4. Real Estate Agents Registration</h3>
  <p>
    All Real Estate Agents should register under this Act. No real estate agent shall facilitate the sale or
    purchase of or act on behalf of any person to facilitate the sale or purchase of any plot, apartment or
    building, as the case may be, in a real estate project or part of it, without obtaining registration under
    this section.
  </p>
  <p>
    If any real estate agent fails to register, he shall be liable to a penalty of ten thousand rupees for every
    day during which such default continues, which may cumulatively extend up to five per cent of the cost of
    plot, apartment or buildings, as the case may be, of the real estate project, for which the sale or purchase
    has been facilitated
  </p>
  <h3>5. Filing of complaints</h3>
  <p>
    Any aggrieved person may file a complaint with Rajasthan RERA or the Adjudicating Officer, as the case may
    be, with respect to any registered real estate project, for any violation or contravention of the provisions
    of this Act or the rules and regulations made there under. The Authority shall establish an adjudicating
    mechanism for speedy redressal of such complaints.
  </p>
  <p>
    Any person aggrieved by any direction or decision or order made by Rajasthan RERA or by an Adjudicating
    Officer may file an appeal before the Appellate Tribunal
  </p>
  <p>
    Any person aggrieved by any decision or order of the Appellate Tribunal, may file an appeal to the High Court
  </p>
  <h3>6. Financial Discipline</h3>
  <p>
    The Act strives to ensure greater financial discipline in the real estate sector. Some of its provisions are
    as follows:
  </p>
  <ul>
    <li>
      A promoter shall not accept more than ten per cent of the cost of the apartment, plot, or building as
      the case may be, as an advance payment or an application fee, from a person without first entering into
      a written agreement for sale (in prescribed Form-G) with such person and register the said agreement for
      sale
    </li>
    <li>
      Seventy per cent of the amounts realized for the real estate project from the allottees, from time to
      time, shall be deposited in a separate account to be maintained in a scheduled bank to cover the cost of
      construction and the land cost and shall be used only for that purpose
    </li>
    <li>
      Withdrawal from such accounts shall be in proportion to the percentage of completion of the project,
      which shall be certified by an engineer, an architect and a chartered accountant in practice.
    </li>
    <li>
      Promoter to compensate buyer for any false or incorrect statement with full refund of property cost with
      interest
    </li>
    <li>Project Accounts to be Audited / FY. Copy to be submitted to Rajasthan RERA</li>
    <li>Provision for Rajasthan RERA to freeze project bank account upon non-compliance</li>
    <li>
      Provisions for stronger financial penalties for non-compliances of Real Estate Regulatory Authority.
    </li>
  </ul>
  <h3>7. Transparency</h3>
  <p>The Act shall drive great transparency in the real estate sector as follows:</p>
  <ul>
    <li>
      Details of all the Registered Projects shall be available online for citizens including:
      <ul>
        <li>
          sanctioned plans, layout plans, along with specifications, approved by the competent authority
        </li>
        <li>
          Proposed Plan, Proposed Layout Plan of the whole project and Floor Space Index proposed to be
          consumed in the whole project, as proposed by the promoter
        </li>
        <li>
          Proposed Number of building(s) or wing(s) to be constructed and sanctioned number of the
          building(s) or wing(s).
        </li>
        <li>
          the stage wise time schedule of completion of the project, including the provisions for civic
          infrastructure like water, sanitation and electricity.
        </li>
        <li>
          quarterly update of the list of number and types of apartments or plots, as the case may be,
          booked
        </li>
        <li>quarterly update of the list of number of covered parking, garages booked;</li>
        <li>
          quarterly update of the list of approvals taken and the approvals which are pending subsequent
          to commencement certificate;
        </li>
        <li>quarterly update of the status of the project; and</li>
        <li>
          such other information and documents as may be specified by the regulations made by Rajasthan
          RERA.
        </li>
      </ul>
    </li>
    <li>
      The advertisement or prospectus issued or published by the promoter shall mention prominently the
      website address of Rajasthan RERA, wherein all details of the registered project have been entered and
      include the registration number obtained from the Authority
    </li>
  </ul>
  <h3>8. Citizen Centricity</h3>
  <ul>
    <li>
      Citizens shall be able to view, on Rajasthan RERA website, all disclosures pertaining to registered
      projects. This shall enable data driven informed decision making.
    </li>
    <li>
      Promoter cannot make any additions and alterations in the sanctioned plans, layout plans and
      specifications and the nature of fixtures, fittings and amenities etc. without the previous consent of
      at least two-thirds of the allottees, other than the promoter, who have agreed to take apartments in
      such building.
    </li>
    <li>
      If the promoter fails to complete or is unable to give possession of an apartment, plot or building, in
      accordance with the terms of the agreement for sale, he shall be liable to pay interest for every month
      of delay. Further, in case the allottee wishes to withdraw from the project, without prejudice to any
      other remedy available, to return the amount received by him with interest
    </li>
    <li>
      Promoter to enable formation of Legal Entity like Cooperative Society, Company, Association, Federation
      etc. within three months from the date on which sixty per cent of the total number of Purchasers in such
      a building or a wing, have booked their apartment.
    </li>
    <li>
      Promoter shall execute a registered conveyance deed in favour of the allottee within three months from
      date of issue of occupancy certificate or sixty per cent of the total number of Purchasers in such a
      building or a wing, have paid the full consideration to the promoter, whichever is earlier.
    </li>
  </ul>
  <h3>9. Refund</h3>
  <p>
    In case a promoter applies for withdrawal of application of the Project before the expiry of the period of
    thirty days, registration fee to the extent of 5% paid or Rs. 25,000/- whichever is more shall be retained
    by the Authority and the remaining amount shall be refunded .Similarly in case of rejection of application
    for, registration of a Project or registration of a Real Estate Agent or extension of registration of a
    Project or renewal of registration of Real Estate Agent, registration fee to the extent of 5% paid shall be
    retained by the Authority and the remaining amount shall be refunded.<br>
    Real Estate (Regulation and Development) Act 2016 is a step towards reforming the real estate sector in
    India, encouraging greater transparency, citizen centricity, accountability and financial discipline.
  </p>
</div>

<script type="text/javascript">
  $(function () {
    $('#liAbout').addClass('active');
  })
</script>
