<div class="container secondary-page">
  <div class="container custom-page">
    <div class="row">

      <!-- LEFT FILTER PANEL -->
      <div class="col-lg-3 custom-nav">
        <div class="head">
          <h2><i class="fa-solid fa-filter"></i> Filters</h2>
          <div class="clear">
            <a (click)="clearAll()">Clear all</a>
          </div>
        </div>

        <div class="desc">

       

          <!-- Project Name -->
          <div class="mb-3">
            <label class="form-label">Notification From</label>
            <input type="date"
                   class="form-control" name="OrderfromDate" autocomplete="off"
                   [(ngModel)]="searchModel.OrderfromDate">
          </div>

          <!-- Promoter Name -->
          <div class="mb-3">
            <label class="form-label">Notification To</label>
            <input type="date" autocomplete="off"
                   class="form-control" name="OrdertoDate"
                   [(ngModel)]="searchModel.OrdertoDate">
          </div>



          <!-- Search Button -->
          <div class="mb-3 text-end">
            <button class="btn btn-primary w-100"
                    (click)="onSearch()">
              Search
            </button>
          </div>

        </div>
      </div>

      <!-- RIGHT GRID -->
      <div class="col-lg-9 custom-body">
        <div class="list-view">
        <header>
          <h2><i class="fa fa-mail-bulk"></i> Search Online Cause List</h2>
        </header>

        <!-- TABLE -->
        <div class="table-responsive NewTblCustm">
            <div class="d-flex justify-content-between align-items-center mb-2">

    <!-- Page Size -->
    <div>
      Show
      <select class="form-select d-inline-block w-auto"
              (change)="onPageSizeChange($event)">
        <option value="10">10</option>
        <option value="100">100</option>
        <option value="500">500</option>
        <option value="1000">1000</option>
      </select>
      Entries
    </div>

  </div>

          <table class="table table-bordered table-striped">
            <thead class="table-light">
              <tr>
                <th>S.No </th>
                <th>Name</th>
                <th>Date</th>               
                <th style="width:100px;">View</th>
              </tr>
            </thead>

            <tbody>
              <tr *ngIf="pagedProjectList.length == 0">
                <td colspan="4" class="text-center">
                  No records found
                </td>
              </tr>

              <!--{{pagedProjectList|json}}-->

              <!--<tr *ngFor="let p of pagedProjectList; let i = index">
                <td>{{ i + 1 }}</td>-->
              <tr *ngFor="let p of pagedProjectList; let i = index">
                <td>{{ (currentPage - 1) * pageSize + i + 1 }}</td>
                <td>{{ p.DocumentName }}</td>
                <td>{{ p.DocumentDate | date:'MMMM d, y' }}</td>

                <td class="text-center">
                  <div class="d-flex gap-2">

                    <!--<a target='_blank' href='/Content/pdf/" + p.ImageName + "' class='btn btn-sm btn-primary' style='vertical-align:bottom!important;'><i class='fa-solid fa-eye'></i> View</a>-->
                    <a class="btn btn-sm btn-primary"
                       target="_blank"
                       [href]="(docUrl + p.ImagePath).replace('~/', '')">
                      <i class="fa-solid fa-eye"></i> View
                    </a>
                  </div>


                </td>
              </tr>
            </tbody>
          </table>
        </div>

        <!-- PAGINATION -->
        <!--<nav *ngIf="totalPages > 1" class="mt-3">
          <ul class="pagination justify-content-end">-->

            <!-- Previous -->
            <!--<li class="page-item" [class.disabled]="currentPage === 1">
              <a class="page-link" (click)="prevPage()">Previous</a>
            </li>-->

            <!-- Page Numbers -->
            <!--<li class="page-item"
                *ngFor="let page of visiblePages"
                [class.active]="page === currentPage">
              <a class="page-link" (click)="goToPage(page)">
                {{ page }}
              </a>
            </li>-->

            <!-- Next -->
            <!--<li class="page-item"
                [class.disabled]="currentPage === totalPages">
              <a class="page-link" (click)="nextPage()">Next</a>
            </li>
          </ul>
        </nav>-->

            <nav *ngIf="totalPages > 1" class="mt-3">
    <ul class="pagination justify-content-end">

      <!-- First -->
      <li class="page-item" [class.disabled]="currentPage === 1">
        <a class="page-link" (click)="firstPage()">First</a>
      </li>

      <!-- Previous -->
      <li class="page-item" [class.disabled]="currentPage === 1">
        <a class="page-link" (click)="prevPage()">Previous</a>
      </li>

      <!-- Page Numbers -->
      <li class="page-item"
          *ngFor="let page of visiblePages"
          [class.active]="page === currentPage">
        <a class="page-link" (click)="goToPage(page)">
          {{ page }}
        </a>
      </li>

      <!-- Next -->
      <li class="page-item"
          [class.disabled]="currentPage === totalPages">
        <a class="page-link" (click)="nextPage()">Next</a>
      </li>

      <!-- Last -->
      <li class="page-item"
          [class.disabled]="currentPage === totalPages">
        <a class="page-link" (click)="lastPage()">Last</a>
      </li>

    </ul>
  </nav>

        <!-- PAGE INFO -->
        <div class="text-end text-muted mt-1">
          Showing {{ startRecord }} – {{ endRecord }}
          of {{ totalRecords }} records
        </div>

      </div>
    </div>
    </div>
  </div>
</div>
