<div class="container secondary-page">
  <div class="container custom-page">
    <div class="row">
      <div class="col-lg-12 custom-body">
        <div class="list-view">
          <header>
            <h2><i class="fa-solid fa-envelope"></i> Search Applications</h2>
          </header>

          <div class="table-list listtbl2">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>Form Name</th>
                  <th>Download</th>
                </tr>
              </thead>
              <tbody>

                <tr>
                  <td>Form R-5</td>
                  <td>
                    <a class="btn btn-primary" target="_blank" [href]="docUrl+'Content/pdf/Form R-5.pdf'">
                      <i class="fa-solid fa-file-arrow-down" style="margin-right:8px;"></i> Download
                    </a>
                  </td>
                </tr>

                <tr>
                  <td>Form G as amended by notification dated 23.08.2022 by UDH Department</td>
                  <td>
                    <a class="btn btn-primary" target="_blank" [href]="docUrl+'Content/pdf/43158522Amended FORM G.pdf'">
                      <i class="fa-solid fa-file-arrow-down" style="margin-right:8px;"></i> Download
                    </a>
                  </td>
                </tr>

                <tr>
                  <td>Checklist for Project Registration as per order dated 27.08.2021</td>
                  <td>
                    <a class="btn btn-primary" target="_blank" [href]="docUrl+'Content/pdf/3989Checklist order 2708.pdf'">
                      <i class="fa-solid fa-file-arrow-down" style="margin-right:8px;"></i> Download
                    </a>
                  </td>
                </tr>

                <tr>
                  <td>APPLICATION FOR REGISTRATION OF PROJECT - FORM A</td>
                  <td>
                    <a class="btn btn-primary" target="_blank" [href]="docUrl+'Content/pdf/5778Form A Revised.pdf'">
                      <i class="fa-solid fa-file-arrow-down" style="margin-right:8px;"></i> Download
                    </a>
                  </td>
                </tr>

                <tr>
                  <td>DECLARATION - FORM B</td>
                  <td>
                    <a class="btn btn-primary" target="_blank" [href]="docUrl+'Content/pdf/FORMB.pdf'">
                      <i class="fa-solid fa-file-arrow-down" style="margin-right:8px;"></i> Download
                    </a>
                  </td>
                </tr>

                <tr>
                  <td>REGISTRATION CERTIFICATE OF PROJECT - FORM C</td>
                  <td>
                    <a class="btn btn-primary" target="_blank" [href]="docUrl+'Content/pdf/FORMC.pdf'">
                      <i class="fa-solid fa-file-arrow-down" style="margin-right:8px;"></i> Download
                    </a>
                  </td>
                </tr>

                <tr>
                  <td>INTIMATION OF REJECTION OF APPLICATION FOR REGISTRATION OF PROJECT / REJECTION OF APPLICATION FOR EXTENSION OF REGISTRATION OF PROJECT / REVOCATION OF REGISTRATION OF PROJECT - FORM D</td>
                  <td>
                    <a class="btn btn-primary" target="_blank" [href]="docUrl+'Content/pdf/FORMD.pdf'">
                      <i class="fa-solid fa-file-arrow-down" style="margin-right:8px;"></i> Download
                    </a>
                  </td>
                </tr>

                <tr>
                  <td>CERTIFICATE FOR EXTENSION OF REGISTRATION OF PROJECT - FORM F</td>
                  <td>
                    <a class="btn btn-primary" target="_blank" [href]="docUrl+'Content/pdf/FORMF.pdf'">
                      <i class="fa-solid fa-file-arrow-down" style="margin-right:8px;"></i> Download
                    </a>
                  </td>
                </tr>

                <tr>
                  <td>Agreement for Sale - FORM G</td>
                  <td>
                    <a class="btn btn-primary" target="_blank" [href]="docUrl+'Content/pdf/FORMG.pdf'">
                      <i class="fa-solid fa-file-arrow-down" style="margin-right:8px;"></i> Download
                    </a>
                  </td>
                </tr>

                <tr>
                  <td>APPLICATION FOR REGISTRATION OF REALESTATE AGENT - FORM H</td>
                  <td>
                    <a class="btn btn-primary" target="_blank" [href]="docUrl+'Content/pdf/FORMH.pdf'">
                      <i class="fa-solid fa-file-arrow-down" style="margin-right:8px;"></i> Download
                    </a>
                  </td>
                </tr>

              </tbody>
            </table>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
