.vio-info label {
  margin-bottom: 10px;
}

/*.vio-info .form-control {
  padding: 10px;
  margin-bottom: 20px;
}*/

.About {
  margin-top: 40px;
}

.form-control:disabled{
  background-color: var(--bs-secondary-bg);
  opacity: 1;
}
